@use "variables";

.form-pemendek {
    margin: 3rem 0;
    display: flex;
    position: relative;
    &__input {
        width: 100%;
        border: 0;
        color: #6b6b6b;
        border-radius: 5px;
        font-size: 1rem;
        padding: 1rem;
        box-shadow: variables.$shadow-blur;
    }
    &__search-svg{
      position: absolute;
      top: 50%;
      right: 0;
      padding: 1rem;
      cursor: pointer;
      transform: translateY(-50%);
    }
}
